:root {
    --color-background: #333333;
    --color-arm: rgb(165, 182, 203);
    --color-particle: rgba(90, 128, 187, 0.04);
}

body {
    margin: 0;
}

#wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--color-background);
}

#wrapper #renderer {
    width: 100%;
    height: 100%;
}